@page
@model Admin.Routes.Index

@{
    ViewData["Title"] = "Маршруты";
}

<ul class="nav navbar-light bg-white bg-nav border-bottom box-shadow mb-3 justify-content-center sticky-top">
    <li class="nav-item">
        <a class="nav-link" href="vokzals">Вокзалы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="routes">Маршруты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="trips">Рейсы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="tickets">Проданные билеты</a>
    </li>
</ul>

<h4 class="text-center">Маршруты</h4>
<p>
    <a asp-page="Create" asp-route-type="route">Создать маршрут</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Откуда
            </th>
            <th>
                Куда
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Routes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From.NameCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To.NameCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RouteId" asp-route-type="route">Редактировать</a> |
                    <a asp-page="./Delete" asp-route-id="@item.RouteId" asp-route-type="route">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>