@page
@model ContactsModel
@{
    ViewData["Title"] = "Контакты";
}

<div id="Contacts" class="text-center wrp pb-3">

    @foreach (var contact in Model.Contacts)
    {
        <h3 class="display-4">Автовокзал @contact.Citie.NameCity</h3>
        <address>
            @contact.Address
        </address>
        <div><a href="tel:@contact.Phone">@contact.Phone</a></div>

        <p class="display-6">Режим работы</p>
        <div>
            @contact.WorkDays
        </div>
        <div>
            @contact.Weekends
        </div>
    }
</div>